$black: #000000;
$white: #ffffff;
$primary1: #ff2953;



.us_section {
    background-image: url(../../assets/us-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: $white;
    height: 100%;

    .us_container {
        padding-top: 25px;

        .box {
            display: flex;
            flex-direction: row;
            align-items: center;
            text-align: center;
            margin: 25px 10px 0 10px;

            .detail-box {
                h5 {
                    font-weight: bold;
                }
            }
        }
    }
}


// end us section