<section class="us_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2>
                Our blog
            </h2>
        </div>


        <div class="us_container ">

            <div class="box">
                <app-themes-list />
                <app-posts-list />
            </div>


            <!--- <div  class="row">
                <div *ngFor="let post of posts" class="col-lg-3 col-md-6">
                    <div class="box">
                        <div class="img-box">
                            <img src="../../assets/profile.png" alt="profile-img">
                        </div>
                        <div class="detail-box">
                            <h5>
                                {{post.userId.username}}
                            </h5>
                            <p>
                                {{post.text}}
                            </p>
                            <p>
                                {{post.created_at}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>-->
        </div>
    </div>
</section>