<section class="us_section layout_padding">
    <div class="container">
        <div class="us_container ">   
            <div class="theme-content">
                <!-- theme-title  -->
                <div class="theme-title">
                    <div class="theme-name-wrapper">
                        <div class="theme-name">
                            <h2 class="text-center">{{theme.themeName}}</h2>
                            <p>Date: <time>{{theme.created_at | date}}</time></p>
                        </div>
                        <div class="subscribers">
                            <p>Subscribers: <span>{{theme.subscribers.length || 0}}</span></p>
                        </div>

                    </div>
                </div>
                <!-- comment  -->
                <div class="comment" *ngFor="let post of theme.posts">
                    <header class="header">
                        <p class="text-center"><span>{{post.userId.username}}</span> posted on <time>{{post.created_at | date}}</time></p>
                    </header>
                    <div class="comment-main">
                        <div class="userdetails">
                            <img src="../../assets/profile.png" alt="avatar">
                        </div>
                        <div class="post-content">
                            <p>{{post.text}}</p>
                            
                        </div>
                    </div>


                    <div class="footer">
                        <div *ngIf="isLogged">
                            <button (click)="deletePost(post._id)" type="submit" class="btn btn-danger" data-mdb-ripple-init>Delete</button>
                        </div>
                        
                        <link *ngIf="isLogged" rel="stylesheet"
                    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                        <i type="submit" class="fa fa-thumbs-up" style="color: #1c7656; background-color: transparent;" *ngIf="!post.likes.includes(userId)" (click)="likePost(post._id)"></i>
                        <i class="fa fa-thumbs-down" style="color: red; background-color: transparent;" *ngIf="post.likes.includes(userId)"></i>
                        <p><span>{{post.likes.length}}</span> likes</p>
                    </div>
                </div>
                
                <div class="answer-comment">
                    <p><span>{{username}}</span> comment:</p>
                    <div class="answer">
                        <form #form="ngForm" (ngSubmit)="createPost(form)">
                            <textarea name="postText" id="comment" cols="30" rows="10"
                            ngModel
                            #textareaPostText="ngModel"
                            ></textarea>

                            <button type="submit" class="btn btn-primary" data-mdb-ripple-init>Post</button>
                        </form>
                    </div>
                </div>
    
            </div>
        </div>
    </div>

</section>